* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.box {
    display: flex;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}




/* ======================
    navbar part start
========================= */
nav {
    background: #1C1E53;
    padding: 16px 0;
}

nav .logo {
    width: 20%;
    display: flex;
    align-items: center;
}

nav .nav-item {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .nav-item ul {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    justify-content: flex-end;
    column-gap: 32px;
    color: #BBBBCB;
    cursor: pointer;
}

nav .nav-item ul li {
    transition: .4s;
}

nav .nav-item ul li:hover {
    color: #fff;
}

nav .button {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

nav .button a {
    padding: 16px 48px;
    display: inline-block;
    border: 2px solid #BBBBCB;
    border-radius: 41px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: .4s;
}

nav .button a:hover {
    background: #BBBBCB;
    color: #1C1E53;
}

/* //////////////////////
    navbar part end
//////////////////////// */


/* ======================
    banner part start
========================= */
.banner-part {
    background: #1C1E53;
    padding: 128px 0;
}

.banner-part .left {
    width: 50%;
}

.banner-part .left h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-weight: 600;
    color: #fff;
    line-height: 74px;
}

.banner-part .left p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #BBBBCB;
    line-height: 28px;
    width: 562px;
    margin-top: 24px;
}

.banner-part .right {
    width: 50%;
}

.banner-part a {
    margin-top: 48px;
}

.banner-part .btn1 {
    padding: 16px 48px;
    display: inline-block;
    background: #FCD980;
    border-radius: 41px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #1B1C2B;
    transition: .4s;
}

.banner-part .btn2 {
    padding: 16px 48px;
    display: inline-block;
    border-radius: 41px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: .4s;
    position: relative;
}

.banner-part .btn2 i {
    margin-left: 16px;
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateY(-50%);
}

.banner-part .right img {
    width: 100%;
}

/* //////////////////////
    banner part end
//////////////////////// */



/* ======================
    work part start
========================= */
.work-part {
    background: #F4F6FC;
    padding: 128px 0;
}

.work-part .left {
    width: 40%;
}

.work-part .left h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.work-part .left p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 405px;
    color: #282938;
    margin: 16px 0;
}

.work-part .left a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2405F2;
}

.work-part .right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

.work-part .right .item {
    width: 50%;
}

.work-part .right .item h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 8px;
}

.work-part .right .item p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 303px;
}

/* //////////////////////
    work part end
//////////////////////// */




/* ======================
    project part start
========================= */
.project-part {
    padding: 128px 0;
}

.project-part .box {
    justify-content: space-between;
}

.project-part .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.project-part .title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #282938;
}

.project-part .title a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #282938;
    align-self: center;
}

.project-part .left {
    width: 66%;
    position: relative;
    overflow: hidden;
}

.project-part .left img {
    width: 100%;
    display: block;
}

.project-part .left .overlay {
    width: 40%;
    height: 100%;
    background: linear-gradient(rgba(28, 30, 83, 0.42), rgba(28, 30, 83, 1));
    position: absolute;
    top: 0;
    left: -47%;
    transition: .4s;
    display: flex;
    align-items: end;
    padding-left: 48px;
}

.project-part .left:hover .overlay {
    left: 0;
}

.project-part .left .overlay .overlay-box {
    padding-bottom: 76px;
}

.project-part .left .overlay .overlay-box h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    line-height: 36px;
}

.project-part .left .overlay .overlay-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.project-part .left .overlay .overlay-box a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FCD980;
    line-height: 28px;
}

.project-part .right {
    width: 30%;
}

.project-part .right img {
    width: 100%;
}

.project-part .right .img {
    position: relative;
    overflow: hidden;
}

.project-part .right .img:last-child {
    margin-top: 36px;
}

.project-part .right .img .overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(28, 30, 83, 0.42), rgba(28, 30, 83, 1));
    position: absolute;
    top: -100%;
    left: 0;
    transition: .4s;
}

.project-part .right .img:hover .overlay {
    top: 0;
}

/* //////////////////////
    project part end
//////////////////////// */



/* ======================
    contact part start
========================= */
.features-part{
    background: #F4F6FC;
    padding: 128px 0;
}
.features-part .features-title p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #282938;
    text-align: center;
}
.features-part .features-title h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #282938;
    text-align: center;
    width: 630px;
    margin: 0 auto;
    margin-top: 12px;
}
.features-part .features-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
}
.features-part .features-content .item{
    width: 32%;
    background: white;
    padding: 48px;
    box-sizing: border-box;
}
.features-part .features-content .item h6{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #282938;
    margin-top: 22px;
    margin-bottom: 12px;
}
.features-part .features-content .item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #282938;
    width: 324px;
}
/* //////////////////////
    contact part end
//////////////////////// */



/* ======================
    review part start
========================= */
.review-part{
    padding: 128px 0;
    background: #F9FBFD;
}
.review-part .left{
    width: 30%;
}
.review-part .left h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #282938;
    line-height: 56px;
}
.review-part .left p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #282938;
    line-height: 28px;
    margin-top: 16px;
}
.review-part .right{
    width: 70%;
}
.review-part .right h5{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #282938;
    line-height: 48px;
}
.review-part .right .user-details{
    display: flex;
    margin-top: 51px;
}
.review-part .right .user-details img{
    margin-right: 14px;
}
.review-part .right .user-details .user-name p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #282938;
}
.review-part .right .user-details .user-name span{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #282938;
}
/* //////////////////////
    review part end
//////////////////////// */



/* ======================
    faq part start
========================= */
.faq-part {
    padding: 128px 0;
}

.faq-part .left {
    width: 30%;
}

.faq-part .left h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #282938;
    width: 328px;
    margin-bottom: 16px;
}

.faq-part .left a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2405F2;
}

.faq-part .right {
    width: 70%;
}

.faq-part .right .item {
    display: flex;
    padding: 32px 0;
    border-bottom: 1px solid #ECECF1;
}

.faq-part .right .item:first-child {
    padding-top: 0;
}

.faq-part .right .item:last-child {
    border-bottom: 0;
}

.faq-part .right .item .item-left {
    width: 10%;
}

.faq-part .right .item .item-left h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #2405F2;
}

.faq-part .right .item .item-right {
    width: 90%;
    position: relative;
}

.faq-part .right .item .item-right h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #282938;
}

.faq-part .right .item .item-right i {
    position: absolute;
    right: 0;
    top: 11px;
}

.faq-part .right .item .item-right p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #282938;
    width: 624px;
    margin-top: 16px;
}

/* //////////////////////
    faq part end
//////////////////////// */


/* ======================
    contact part start
========================= */

.contact-part .left {
    width: 50%;
    position: relative;
}
.contact-part .left img{
    width: 100%;
    display: block;
    height: 100%;
}
.contact-part .left .overlay{
    width: 100%;
    height: 100%;
    background: #1c1e5480;
    position: absolute;
    top: 0;
    left: 0;
    padding: 96px;
    box-sizing: border-box;
}
.contact-part .left .overlay h2{
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    color: #FFF;
    margin-bottom: 24px;
}
.contact-part .left .overlay p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #FFF;
}
.contact-part .right {
    width: 50%;
    background: #1C1E53;
    padding: 96px;
    box-sizing: border-box;
}
.contact-part .right h5{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color: #FFF;
    margin-bottom: 16px;
}
.contact-part .right p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #F4F6FC;
}

.contact-part .right form{
    margin-top: 40px;
}

.contact-part .right input{
    width: 100%;
    padding: 18px 32px;
    border: 2px solid #ffffff0d;
    background: transparent;
    border-radius: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    color: #fff;
}
.contact-part .right input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.contact-part .right button{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 16px 0;
    background: #FCD980;
    border: 0;
    border-radius: 41px;
    margin-top: 23px;
}
.contact-part .right .link{
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: center;
}
.contact-part .right .link a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    
}
/* //////////////////////
    contact part end
//////////////////////// */


/* ======================
    blog part start
========================= */
.blog-part{
    padding: 128px 0;
}
.blog-part h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #282938;
    margin-bottom: 64px;
}
.blog-part .box{
    justify-content: space-between;
}
.blog-part .item {
    width: 32%;
}
.blog-part .item img{
    width: 100%;
    display: block;
    margin-bottom: 40px;
}
.blog-part .item label{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #282938;
    
}
.blog-part .item h6{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #282938;
    line-height: 36px;
    margin-top: 16px;
}
.blog-part .item p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #282938;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.blog-part .item span{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #282938;
    line-height: 28px;
}
/* //////////////////////
    blog part end
//////////////////////// */



/* ======================
    footer top part start
========================= */
.footer-top{
    background: #1C1E53;
    padding-top: 128px;
}

.footer-top .left{
    width: 50%;
}
.footer-top .left p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #F4F6FC;
    line-height: 28px;
    margin-top: 22px;
    width: 399px;
}

.footer-top .right{
    width: 50%;
}


.footer-top .right h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #FFF;
}
.footer-top .right p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #F4F6FC;
    margin-top: 14px;
    width: 399px;
}

.footer-top .right .socail-btn{
    display: flex;
}

.footer-top .right .socail-btn i{
    width: 16px;
    height: 16px;
    color: #FFF;
    margin-right: 27px;
    margin-top: 28px;
}

.footer-top .contact-info{
    width: 35%;
    background: #FCD980;
    padding: 16px 37px;
    display: flex;
}

.footer-top .contact-info .left-cnt{
    width: 50%;
}

.footer-top .contact-info .left-cnt h6{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #282938;
}

.contact-info .left-cnt .contact-mail{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #282938;
}

.footer-top .contact-info .right-cnt{
    width: 50%;
}

.footer-top .contact-info .right-cnt h6{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #282938;
}

.contact-info .right-cnt .contact-mail{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #282938;
}
/* //////////////////////
footer top part end
//////////////////////// */




/* ======================
    copyright part start
========================= */
.copyright-part{
    padding: 32px 0;
}

.copyright-part .left{
    width: 50%;
}

.copyright-part .left p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #282938;
}

.copyright-part .right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.copyright-part .right ul {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    justify-content: flex-end;
    column-gap: 32px;
    color: #282938;
    cursor: pointer;
}
/* //////////////////////
   copyright part end
//////////////////////// */